<section class="limit">
  <div class="conf-infos">
    <div class="conf-infos__column">
      <h4 class="conf-infos__title">
        Cos'è?
      </h4>
      <p class="conf-infos__text">
        SymfonyDay è la principale conferenza italiana dedicata esclusivamente allo sviluppo con Symfony.
      </p>
      <p class="conf-infos__text">
        Symfony è uno dei framework PHP più apprezzati sul mercato. Il suo ecosistema di quasi 100 componenti ha raggiunto oltre 1,4 miliardi di download.
      </p>
      <p class="conf-infos__text">
        L'ecosistema di Symfony è un punto di riferimento per quanto riguarda lo sviluppo ad alto livello con PHP; molti altri software open source come Laravel, Drupal, eZ Publish e phpBB ne utilizzano diversi componenti al loro interno.
      </p>
      <h4 class="conf-infos__title">
        Cosa imparerai?
      </h4>
      <p class="conf-infos__text">
        Verranno presentate le best practice per lo sviluppo e verranno mostrati case study ad alto livello. Potrai imparare
        cose utili e interessanti da chi utilizza Symfony quotidianamente in diversi contesti.
      </p>

      <div class="vimeo">
      </div>
    </div>

    <div class="conf-infos__column conf-infos__column--right">
      <div class="mega-info mega-info--responsive">
              <div class="mega-info__number">8+</div>
              <div class="mega-info__text">Sessioni</div>
            </div>
            <div class="mega-info mega-info--responsive">
              <div class="mega-info__number">2</div>
              <div class="mega-info__text">Workshop</div>
            </div>

      <div class="vimeo-phrase">
        Dedicata<br>
        esclusivamente<br>
        allo sviluppo<br>
        con Symfony
      </div>
    </div>
  </div>
</section>
